.all{
  margin-top: 3.5cm;
  padding-bottom: 2cm;
  .chosen-item{
    display: flex;
    .left{
      width: 40%;
      float: left;
      img{
        width: 500px;
        padding: 20px;
      }
      .sub-imgs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px !important;
        img{
          width: 80px;
          padding: 0;
          cursor: pointer;
        }
      }
    }

    .right{
      width: 60%;
      float: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;
      .item-info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        .sizes{
          margin-top: 20px;
          ul{
            list-style: none;
            display: flex;
            gap: 20px;
            li{
              font-weight: 600;
              padding: 10px 15px;
              border-radius: 10px;
              cursor: pointer;
              border: 1px solid;
            }
          }
        }
        h2{
          font-size: 2rem;
        }
        h4{
          color: red;
          font-size: 1.5rem;
        }
        .ctas{
          margin-top: 40px;
          display: flex;
          button{
            background-color: var(--cta-color);
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 1rem;
            border: none;
            box-shadow: 2px 3px 9px;
            cursor: pointer;
            i{
              padding-left: 20px;
            }
          }
        }
      }
    }

  }

}
.relevant-products{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 3cm;
  h1{
    position: relative; //added this so the ::before will work
    &::before{
      content: "";
      position: absolute; //also added this so the sude element work
      left: 0;
      bottom: -10px; 
      background-color: #e91e63;
      height: 3px;
      box-sizing: border-box;
      width: 100%;
  }
  }
}

.rev-sec{
  border-bottom: 1px solid;
}


//responsive
@media (max-width: 414px) {
  .chosen-item{
    flex-direction: column;
    gap: 10px !important;
  }
  .left{
    width: 100% !important;
    padding-bottom: 20px;
    display: flex;
    padding-right: 10px;
    img{
      width: 300px !important;
    }
    .sub-imgs{
      img{
        width: 50px !important;
        cursor: auto;
      }
    }
  }
  .right{
    width: 100% !important;
    .ctas{
      button{
        width: 300px;
        height: 50px;
        font-size: 1.5em !important;
      }
    }
  }
}