.footer{
  background: var(--footer-bg);
  padding: 70px 0;
  z-index: 10000;
  .container{
    max-width: 1170px;
    margin: auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    .footer-col{
      width: 25%;
      padding: 0 15px;
      ul{
        list-style: none;
        li{
          margin-bottom: 10px;
          font-size: 16px;
          text-transform: capitalize;
          color: #ffffff;
          text-decoration: none;
          font-weight: 300;
          color: #bbbbbb;
          display: block;
          transition: all 0.3s ease;
          cursor: pointer;
          &:hover{
            color: #ffffff;
            padding-left: 8px;
          }
        }
      }
      .social-links{
        li{
          display: inline-block;
          height: 40px;
          width: 40px;
          background-color: rgba(225, 225, 225, 0.2);
          margin:0 10px 10px 0;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          color: #ffffff;
          transition: all 0.5s ease;
          &:hover{
            color: #24262b;
            background-color: #ffffff;
          }
        }
      }
      h4{
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative; //added this so the ::before will work
      }

      h4::before{
        content: "";
        position: absolute; //also added this so the sude element work
        left: 0;
        bottom: -10px; 
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
      }

    }
  }
}
